.repository {
  width: 250px;
  padding: 16px;
  height: 300px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
}

.titleRepository {
  width: 100%;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
}
